body {
  /* Установка flex-контейнера для выравнивания содержимого */
  display: flex;
  /* Выравнивание содержимого по горизонтальной оси в центре */
  justify-content: center;
  /* Выравнивание содержимого по вертикальной оси в центре */
  align-items: center;
  /* Высота тела страницы равна 100% видимой области экрана */
  height: 100vh;
  /* Удаление отступов у элемента */
  margin: 0;
  /* Цвет фона */
  background-color: #f0f0f0;
}

/* Доска */
.board {
  /* Используем grid-разметку для создания сетки */
  display: grid;
  /* Определяем 8 колонок по 50px каждая */
  grid-template-columns: repeat(8, 50px);
  /* Определяем 8 строк по 50px каждая */
  grid-template-rows: repeat(8, 50px);
  /* Устанавливаем, что между клетками не будет промежутков */
  gap: 0;
  /* Добавляем границу тёмного цвета */
  border: 2px solid #333;
}

/* Клетки */
.cell {
  /* Устанавливаем ширину и высоту клеток */
  width: 50px;
  height: 50px;
  /* Используем flex для выравнивания содержимого внутри клетки */
  display: flex;
  /* Горизонтальное выравнивание содержимого по центру */
  justify-content: center;
  /* Вертикальное выравнивание содержимого по центру */
  align-items: center;
}

/* Чёрные клетки */
.cell.black {
  /* Задаём цвет фона для чёрных клеток */
  background-color: #cccccc;
}

/* Белые клетки */
.cell.white {
  /* Задаём белый цвет фона для белых клеток */
  background-color: #fff;
}
/* Общий стиль шашек */
.piece {
  /* Устанавливаем ширину и высоту каждой шашки */
  width: 40px;
  height: 40px;
  /* Закругляем края шашек */
  border-radius: 50%;
  /* добавляем границу */
  border: 1px;
  border-style: solid;
  /* Курсор в виде указателя при наведении для интерактивности */
  cursor: pointer;
  /* Тень для визуального выделения шашек */
  box-shadow: 2px 6px 8px 1px rgba(34, 60, 80, 0.2);
}
/* Белые шашки */
.piece.white {
  /* Цвет фона для белых шашек, ярко-зелёный */
  background-color: white;
}
/* Чёрные шашки */
.piece.black {
  /* Цвет фона для чёрных шашек, тёмно-фиолетовый */
  background-color: black;
}
/* Дамки */
.piece.king {
  /* Добавляем обводку для дамок, чтобы выделить их */
  border: 2px solid #fc7f49;
}
